# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas==1.4.3
numpy==1.23.2
matplotlib==3.5.2
datascience
folium
jupyter-book==0.11.2
Jinja2==3.0.3
git+https://github.com/alan-turing-institute/bio-Turing-Way.git@main#subdirectory=pathways
