# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas==1.0.5
numpy==1.19.0
matplotlib==3.2.2
datascience
folium
jupyter-book==0.12.2
sphinx-book-theme==0.3.0
sphinxcontrib-bibtex~=2.2.0
sphinx-click
sphinx_inline_tabs
sphinxext-rediraffe~=0.2.3
