# Project management files that should not be in public VC
.secrets/*

# OS dependent metadata files
.DS_Store

# Large, binary files
workshops/boost-research-reproducibility-binder/workshop-presentations/*pptx

# Compiled files
**/__pycache__/

# IDE configs
.vscode/settings.json
.Rproj.user
.idea

# Python virtual environments
venv/
env/

crowdin_contributors_bot/node_modules
crowdin_contributors_bot/.env*
crowdin_contributors_bot/package-lock.json
