# Infrastructure working group
# Github files and workflows
.github/ @the-turing-way/infrastructure-working-group
# Makefile
book/Makefile @the-turing-way/infrastructure-working-group
# Requirements
book/requirements.in @the-turing-way/infrastructure-working-group
book/requirements.txt @the-turing-way/infrastructure-working-group
# Lychee configuration
lychee.toml @the-turing-way/infrastructure-working-group
# Netlify configuration
netlify.toml @the-turing-way/infrastructure-working-group
# MyST Plugins
book/website/plugins/ @the-turing-way/infrastructure-working-group
