[build]
base = "book/"
command = "make deps && make pathways && make ci"
environment = { PYTHON_VERSION = "3.13" }
publish = "website/_build/html"

# Do not build deploy previews for branches from all-contributors bot
[context.deploy-preview]
  ignore = '''
if echo $HEAD | grep "^all-contributors"; then
  return 0
else
  return 1
fi
'''

# Cross-domain redirects for the start page
[[redirects]]
  from = "http://the-turing-way.org/*"
  to = "https://the-turing-way.start.page/"
  status = 302
  force = true

[[redirects]]
  from = "https://the-turing-way.org/*"
  to = "https://the-turing-way.start.page/"
  status = 302
  force = true

# Wildcard redirect for old book url
[[redirects]]
  from = "https://the-turing-way.netlify.app/*"
  to = "https://book.the-turing-way.org/:splat"
  status = 301
  force = true

# Wildcard redirect for www
[[redirects]]
  from = "https://www.book.the-turing-way.org/*"
  to = "https://book.the-turing-way.org/:splat"
  status = 301
  force = true

# Redirects for old welcome/home/index page urls to current
[[redirects]]
  # index.html no longer exists using Jupyter Book 2
  # Previously the home page redirects pointed to index.html
  from = "https://book.the-turing-way.org/index.html"
  to = "https://book.the-turing-way.org/"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "https://the-turing-way.netlify.app/welcome"
  to = "https://book.the-turing-way.org/"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "https://the-turing-way.netlify.app/welcome.html"
  to = "https://book.the-turing-way.org/"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "https://the-turing-way.netlify.app"
  to = "https://book.the-turing-way.org/"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "https://the-turing-way.netlify.app/introduction/*"
  to = "https://book.the-turing-way.org/"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

# Book/chapter redirects
[[redirects]]
  from = "/reproducible-research"
  to = "/reproducible-research/reproducible-research"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/communication"
  to = "/communication/communication"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/collaboration"
  to = "/collaboration/collaboration"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/project-design"
  to = "/project-design/project-design"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/ethical-research"
  to = "/ethical-research/ethical-research"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/community-handbook"
  to = "/community-handbook/community-handbook"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/version_control/*"
  to = "/reproducible-research/vcs"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/binderhub/*"
  to = "/reproducible-research/binderhub"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true
