[build]
base = "book/"
command = "make deps && make pathways"
environment = { PYTHON_VERSION = "3.8" }
publish = "website/_build/html"

# Do not build deploy previews for branches from all-contributors bot
[context.deploy-preview]
  ignore = '''
if echo $HEAD | grep "^all-contributors"; then
  return 0
else
  return 1
fi
'''

# A redirect rule with all the supported properties
[[redirects]]
  # Root page changed in https://github.com/the-turing-way/the-turing-way/pull/2994
  from = "https://the-turing-way.netlify.app/welcome"
  to = "https://book.the-turing-way.org/index.html"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

# A redirect rule with all the supported properties
[[redirects]]
  # Root page changed in https://github.com/the-turing-way/the-turing-way/pull/2994
  from = "https://the-turing-way.netlify.app/welcome.html"
  to = "https://book.the-turing-way.org/index.html"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true
  
  # A redirect rule with all the supported properties
[[redirects]]
  from = "https://the-turing-way.netlify.app"
  to = "https://book.the-turing-way.org/index.html"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "https://the-turing-way.netlify.app/introduction/*"
  to = "https://book.the-turing-way.org/index.html"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/reproducible-research"
  to = "/reproducible-research/reproducible-research"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/communication"
  to = "/communication/communication"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/collaboration"
  to = "/collaboration/collaboration"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/project-design"
  to = "/project-design/project-design"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/ethical-research"
  to = "/ethical-research/ethical-research"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/community-handbook"
  to = "/community-handbook/community-handbook"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/version_control/*"
  to = "/reproducible-research/vcs"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true

[[redirects]]
  from = "/binderhub/*"
  to = "/reproducible-research/binderhub"
  # The default HTTP status code is 301, but you can define a different one.
  status = 301
  force = true
