name: CI

# run on pushes and pull requests to master
on:
  push:
    branches:
      - master
      - "!all-contributors/**"
  pull_request:
    branches:
      - master
      - "!all-contributors/**"

# set the default shell to bash for all jobs
# this is important for the windows OS!
defaults:
  run:
    shell: bash

# run job
jobs:
  build-jb-and-check-links:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python_version: [3.7, 3.8]
      fail-fast: false  # Don't cancel all jobs if one fails

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout-repository
      uses: actions/checkout@v2

    - name: Setup Python ${{ matrix.python_version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python_version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r ./book/website/requirements.txt

    - name: Build Jupyter-Book
      run: |
        cd ./book/website
        jupyter-book build .

    - name: Run html proofer
      if: matrix.os == 'ubuntu-latest'
      uses: chabad360/htmlproofer@master
      with:
        directory: "./book/website/_build/html"
        arguments: --assume-extension --disable-external --only_4xx
      continue-on-error: true
