name: CI

# run on pushes and pull requests to main
on:
  push:
    branches:
      - main
    paths:
      - "book/**"
      - ".github/workflows/**"
  pull_request:
    branches:
      - main
    paths:
      - "book/**"
      - ".github/workflows/**"

# set the default shell to bash for all jobs
# this is important for the windows OS!
defaults:
  run:
    shell: bash

# run job
jobs:
  build-jb-and-check-links:
    if: (github.event.pull_request) && !contains(github.head_ref, 'all-contributors')
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python_version: ["3.10"]
      fail-fast: false # Don't cancel all jobs if one fails

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout-repository
        uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r ./book/website/requirements.txt

      - name: Build Jupyter-Book
        run: |
          cd ./book/website
          jupyter-book build . -W --keep-going

      - name: Run html proofer
        if: matrix.os == 'ubuntu-latest'
        uses: chabad360/htmlproofer@master
        with:
          directory: "./book/website/_build/html"
          arguments: --assume-extension --disable-external --only_4xx
        continue-on-error: true
