name: CI

# run on pull requests to main
on:
  pull_request:
    branches:
      - main

# set the default shell to bash for all jobs
# this is important for the windows OS!
defaults:
  run:
    shell: bash

jobs:
  build-jb:
    name: Build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python_version: ["3.13"]
      fail-fast: false # Don't cancel all jobs if one fails

    runs-on: ${{ matrix.os }}

    steps:
      - name: Extract the PR number from the ref
        # only for pull requests from the all-contributors bot
        if: ${{ contains(github.head_ref, 'all-contributors') }}
        id: pr_number
        run: |
          if [[ ${{ github.ref }} =~ [0-9]+ ]]; then
            echo "pr_num=${BASH_REMATCH[0]}" >> "$GITHUB_OUTPUT"
          else
            exit 1
          fi

      - name: Post a comment about skipping this workflow
        # only for pull requests from the all-contributors bot
        if: ${{ contains(github.head_ref, 'all-contributors') }}
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ steps.pr_number.outputs.pr_num }}
          body: >-
            Hello human reviewer! I have marked the CI build for this PR as
            passed because it has come from an `all-contributors` branch - which
            we do not want to build - but allows branch protection rules to pass.

            Please check that this PR is indeed related to the `all-contributors`
            bot. If not, the branch may need renaming so that the tests trigger
            correctly.

      - name: Checkout-repository
        # ignore pull requests from the all-contributors bot
        if: ${{ !contains(github.head_ref, 'all-contributors') }}
        uses: actions/checkout@v5

      - name: Setup Python ${{ matrix.python_version }}
        # ignore pull requests from the all-contributors bot
        if: ${{ !contains(github.head_ref, 'all-contributors') }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install dependencies
        # ignore pull requests from the all-contributors bot
        if: ${{ !contains(github.head_ref, 'all-contributors') }}
        run: make deps
        working-directory: ./book

      - name: Build the book
        # ignore pull requests from the all-contributors bot
        if: ${{ !contains(github.head_ref, 'all-contributors') }}
        working-directory: ./book
        run: make ci

      - name: Upload html output as artifact
        # ignore pull requests from the all-contributors bot
        if: contains(matrix.os, 'ubuntu') && !contains(github.head_ref, 'all-contributors')
        uses: actions/upload-artifact@v5
        with:
          name: book-html-${{ github.run_id }}
          path: ./book/website/_build/html/

  offline-link-check:
    name: Link Check
    needs: build-jb
    runs-on: ubuntu-latest
    steps:
      # We only need the lychee config file from the repository
      - name: Checkout lychee config file from repository
        uses: actions/checkout@v5
        with:
          sparse-checkout: |
            lychee.toml
          sparse-checkout-cone-mode: false

      - name: Ensure destination folder exists
        run: |
          mkdir -p ./book/website/_build/html

      - name: Download book html files from artifact
        uses: actions/download-artifact@v6
        with:
          name: book-html-${{ github.run_id }}
          path: ./book/website/_build/html/

      - name: Check offline links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --config './lychee.toml' --no-progress --offline --root-dir "$GITHUB_WORKSPACE/book/website/_build/html/" 'book/website/_build/html/**/*.html'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}} # Use runners GitHub token to avoid rate limiting
