name: CI

# run on pushes and pull requests to main
on:
  push:
    branches:
      - main
    paths:
      - "book/**"
      - ".github/workflows/**"
  pull_request:
    branches:
      - main
    paths:
      - "book/**"
      - ".github/workflows/**"

# set the default shell to bash for all jobs
# this is important for the windows OS!
defaults:
  run:
    shell: bash

jobs:
  build-jb:
    name: Build
    if: (github.event.pull_request) && !contains(github.head_ref, 'all-contributors')
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python_version: ["3.10"]
      fail-fast: false # Don't cancel all jobs if one fails

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout-repository
        uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r ./book/website/requirements.txt

      - name: Build Jupyter-Book
        run: |
          cd ./book/website
          jupyter-book build . -W --keep-going

  offline-link-check:
    name: Link Check
    needs: build-jb
    runs-on: ubuntu-latest
    steps:
      - name: Checkout-repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r ./book/website/requirements.txt

      - name: Build Jupyter-Book
        run: |
          cd ./book/website
          jupyter-book build .

      - name: Restore lychee cache
        uses: actions/cache@v3
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }} # save cache using commit sha
          restore-keys: cache-lychee- # restore latest cache (not a specific commit)

      - name: Check offline link
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          args: --config './lychee.toml' --no-progress --offline book/website/_build/html/**/*.{html,md}
          fail: true
          debug: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}} # Use runners GitHub token to avoid rate limiting
