name: CI

# run on pushes and pull requests to main
on:
  push:
    branches:
      - main
    paths:
      - "book/**"
      - ".github/workflows/**"
  pull_request:
    branches:
      - main
    paths:
      - "book/**"
      - ".github/workflows/**"

# set the default shell to bash for all jobs
# this is important for the windows OS!
defaults:
  run:
    shell: bash

jobs:
  build-jb:
    name: Build
    if: (github.event.pull_request) && !contains(github.head_ref, 'all-contributors')
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python_version: ["3.12"]
      fail-fast: false # Don't cancel all jobs if one fails

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout-repository
        uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install dependencies
        run: make deps
        working-directory: ./book

      - name: Build Jupyter-Book with warnings raised to errors
        run: make strict
        working-directory: ./book

  build-pathways:
    name: Build Pathways
    needs: build-jb
    runs-on: ubuntu-latest
    steps:
      - name: Checkout-repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: make deps
        working-directory: ./book

      - name: Run pathways script
        run: make pathways
        working-directory: ./book

  offline-link-check:
    name: Link Check
    needs: build-jb
    runs-on: ubuntu-latest
    steps:
      - name: Checkout-repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: make deps
        working-directory: ./book

      - name: Build Jupyter-Book
        run: make book
        working-directory: ./book

      - name: Check offline links
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          args: --config './lychee.toml' --no-progress --offline 'book/website/_build/html/**/*.html' 'book/website/_build/html/**/*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}} # Use runners GitHub token to avoid rate limiting
