name: Validate All Contributors file

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".all-contributorsrc"

jobs:
  validate:
    name: Validate all-contributorsrc
    runs-on: ubuntu-latest

    steps:
      - name: Checkout-repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        working-directory: ./tests/
        run: pip install -r requirements.txt

      - name: Run validation script
        working-directory: ./tests/
        run: python3 validate-all-contributorsrc.py
