name: Lint and Validate YAML files

on:
  pull_request:
    paths:
      - "**.yaml"
      - "**.yml"
  push:
    branches:
      - main

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install yamllint via pip
        run: |
          python -m pip install yamllint

      # This command automatically reads in the .yamllint config file
      - name: Run yamllint on all files in the repo
        run: |
          yamllint -f colored .
